<template>
  <b-container>
    <b-row>
      <b-col class="text-center">
        <h1>Ahoj</h1>
        <ul>
          <li v-for="(item, index) in products.edges" :key="index">
            <span>{{ item.node.name }}</span>
          </li>
        </ul>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import allProducts from '~/apollo/queries/products.gql'
export default {
  apollo: {
    products: {
      query: allProducts
    }
  }
}
</script>
